.split-bill-page {
  background-image: linear-gradient(
    rgba(128, 128, 128, 0.404),
    rgba(179, 171, 171, 0.63)
  );
  /* height: 100vh; */
  /* width: 100%; */
}

.add_user_button {
  padding-left: 70%;
  margin: 50px;
}

.add_item_button {
  padding-left: 70%;
}

/* .column {
    float: left;
    width: 33%;
} */

/* .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
} */

/* .innerList {
    list-style-type:none;
    padding:0%;
} */

/* .splitNames {
    float: left;
    width: 25%;
} */

/* .receipt {
    text-align: center;
} */

/* .placeholder {
    width: 300px;
} */

/* hr {
    width: 95%;
} */

/* body{
    overflow: hidden;
} */
