.center {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .center {
    margin: auto;
    width: 70%;
    border: 3px solid red;
    padding: 10px;
  }
}
