/* body {
    background-image: linear-gradient(rgba(128, 128, 128, 0.404), rgba(179, 171, 171, 0.63));
} */

.text {
    font-size: 20px;
    color: black;
    position: static;
    text-align: center;
}

#my-helper-text{
    text-align: center;
}