.create-group-page {
    background-image: linear-gradient(rgba(128, 128, 128, 0.404), rgba(179, 171, 171, 0.63));
    height: 100vh;
    width: 100%;
}

.text {
    font-size: 20px;
    color: black;
    position: static;
    text-align: center;
}

.boxed {
    width: 100%;
    padding: 10px;
    font-size: larger;
    margin: center;
    font-style: italic;
}

.form{
    text-align: center;

}

.form-group {
    width: 50%;
    margin: 0 auto;
    float: none;
}

.isDisabled {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
}