.boxed {
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-size: large;
}

.body {
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-size: small;
  margin: auto;
}
.create-group-page {
  background-image: url("../images/create.jpg");
  background-color: #cccccc;
  height: 1350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p2 {
  font-size: x-small;
}

.form {
  font-size: smaller;
}

.submitButton {
  margin-left: 30%;
}

@media screen and (max-width: 960px) {
  .boxed {
    width: 75%;
    border: 3px solid red;
  }
  .body {
    width: auto;
    border: 3px solid red;
  }
}
