.main-page {
  background-image: url("../images/main.jpg");
  background-color: #cccccc;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 960px) {
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
  }
}

.text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
